.role {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  padding: 20px;
  border-radius: 15px;
  /* height: 100vh; Adjust the height based on your design */
  background-color: green; /* Set the background color to green or any color you prefer */
}
.slogan {
  background-color: rgb(185, 138, 138);
  height: 70px;
  width: 300px;
  margin-top: 100px;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  display: flex;
  font-weight: 900;
  margin-left: 500px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.slogan {
  text-align: center;
  margin-bottom: 40px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

/* @media only screen and (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
} */
