.role {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  padding: 20px;
  border-radius: 15px;
  /* height: 100vh; Adjust the height based on your design */
  background-color: green; /* Set the background color to green or any color you prefer */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

/* @media only screen and (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
} */
